*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* ----------------------------------------------------------------------------- */
/* Loader ---------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

body{
  scroll-behavior: smooth;
  overflow: hidden;
  margin: 0;
}
  
#myLoading{
  background-color: black;
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  z-index: 999999999999999999999;
}

#loaderDiv{
  margin: 0 0 2em;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1rem;
  display: inline-block;
  vertical-align: top;
}

#loaderSize{
  transform: scale(3);
}

/* ----------------------------------------------------------------------------- */
/* Navbar ---------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

#navbar{

    background-color: black;
}

.active{
    background-color: #0DCAF0 !important;
    border-radius: 5px;
    color: black !important;
}

/* ----------------------------------------------------------------------------- */
/* Main ------------------------------------------------------------------------ */
/* ----------------------------------------------------------------------------- */

#theMain{
    background-image: url(../src/Images/BG.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}
#mainContent{
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 100vh;
}
.megaI:hover{
    color: #0DCAF0;
}
/* ----------------------------------------------------------------------------- */
/* Footer ---------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

.footer_logo{
    width: 200px;
    height: 200px;
    transition: all 0.5s;
    border: solid black 1px;
}

.footer_logo:hover{
    border: solid #0DCAF0 10px;
}

